/* section 2 */
div {
    height: 25rem;
    width: 25rem;
    background-color: rgb(116, 208, 241);
}

.divstylechange{
    height: 25rem;
    width: 25rem;
    background-color: rgb(222, 49, 99);
    border-radius: 50%;
}

/* Section 3 */

button:nth-child(1) {
    padding: 0.5rem;
    border-radius: 50%;
}