h1 {
    text-align: center;
    margin-bottom: 2rem;
}

img {
    height: 4rem;
}
main {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
    letter-spacing: 0.5rem;
    line-height: 3rem;
}

.strong {
    font-weight: 800;
}

.underline {
    text-decoration: underline;
}

.cross {
    text-decoration: line-through;
}

.a {
    color: rgb(0, 160, 175);
}

.l {
    color: rgb(229, 255, 0);
}

.c {
    color: darkblue;
}